@{
    ViewData["Title"] = "Sobre Mim";
}

<section class="about-section">
    <div class="container">
        <div class="about-content">
            <div class="about-image">
                <img src="~/images/profile.jpeg" alt="Desenvolvedor .NET">
            </div>
            <div class="about-text">
                <h2>Sobre Mim</h2>
                <p>Desenvolvedor .NET Core com 5+ anos de experiência na criação de aplicações web robustas e escaláveis. Especializado em arquitetura limpa, microsserviços e desenvolvimento orientado a testes.</p>

                <h3>Habilidades Técnicas</h3>
                <ul class="skills-list">
                    <li><span>Linguagens:</span> C#, JavaScript, TypeScript, SQL</li>
                    <li><span>Frameworks:</span> ASP.NET Core, Entity Framework, React</li>
                    <li><span>Bancos de Dados:</span> SQL Server, PL/SQL, MySQL, SQLite, Firebase Firestore</li>
                    <!--<li><span>Cloud:</span> Azure (App Services, Functions, SQL Database)</li>
                    <li><span>DevOps:</span> Docker, CI/CD</li>-->
                </ul>

                <a href="#" class="btn btn-primary">Download CV</a>
            </div>
        </div>
    </div>
</section>

<section class="experience-section">
    <div class="container">
        <h2>Experiência Profissional</h2>

        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-date">2024 - Hoje</div>
                <div class="timeline-content">
                    <h3>Analista de Infraestrutura de TI</h3>
                    <h4>GTF Lorenz</h4>
                    <p><strong>Funções:</strong></p>
                    <p>Técnico regional responsável pelo monitoramento e manutenção de redes e sistemas.</p><br />
                    <p><strong>Tecnologias:</strong></p>
                    <div class="timeline-icons">
                        <div class="image-container">
                            <img src="~/images/fortinet_icon.png" alt="Fortinet" class="about-logo" />
                            <p class="description">Fortinet</p>
                        </div>
                        <div class="image-container">
                            <img src="~/images/unifi_icon.png" alt="UniFi" class="about-logo" />
                            <p class="description">UniFi</p>
                        </div>
                        <div class="image-container">
                            <img src="~/images/o365_icon.png" alt="Office 365" class="about-logo" />
                            <p class="description">Office 365</p>
                        </div>
                        <div class="image-container">
                            <img src="~/images/deskmanager_icon.png" alt="Desk Manager" class="about-logo" />
                            <p class="description">Desk Manager</p>
                        </div>
                        <div class="image-container">
                            <img src="~/images/tmetric_icon.png" alt="TMetric" class="about-logo" />
                            <p class="description">TMetric</p>
                        </div>
                        <div class="image-container">
                            <img src="~/images/zabbix_icon.png" alt="Zabbix" class="about-logo" />
                            <p class="description">Zabbix</p>
                        </div>
                        <div class="image-container">
                            <img src="~/images/grafana_icon.png" alt="Grafana" class="about-logo" />
                            <p class="description">Grafana</p>
                        </div>
                        
                    </div>
                </div> 
            </div>
            <div class="timeline-item">
                <div class="timeline-date">2021 - 2021</div>
                <div class="timeline-content">
                    <h3>Programador de Sistemas</h3>
                    <h4>Seti Tecnologia Ltda.</h4>
                    <p><strong>Funções:</strong></p>
                    <p>Trainee de programador para sistema de TV Corporativa e Sistema de Firewall proprietário.</p><br />
                    <p><strong>Tecnologias:</strong></p>
                    <div class="timeline-icons">
                        <div class="image-container">
                            <img src="https://img.icons8.com/fluency/48/vuejs.png" alt="Vue.JS" class="about-logo" />
                            <p class="description">Vue.JS</p>
                        </div>
                        <div class="image-container">
                            <img src="~/images/c_icon.png" alt="Linguagem C" class="about-logo" />
                            <p class="description">Linguagem C</p>
                        </div>
                        <div class="image-container">
                            <img src="~/images/jira_icon.png" alt="Atlassian Jira" class="about-logo" />
                            <p class="description">Jira</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-date">2020 - 2021</div>
                <div class="timeline-content">
                    <h3>Assistente de TI</h3>
                    <h4>Hospital e Maternidade Jaraguá</h4>
                    <p><strong>Funções:</strong></p>
                    <p>Assistência no suporte ao usuário no sistema ERP Philips Tasy, desenvolvimento de relatórios em SQL Oracle.</p><br />
                    <p><strong>Tecnologias:</strong></p>
                    <div class="timeline-icons">
                        <div class="image-container">
                            <img src="~/images/plsql_icon.png" alt="Oracle PL/SQL" class="about-logo" />
                            <p class="description">Oracle PL/SQL</p>
                        </div>
                        <div class="image-container">
                            <img src="~/images/philips_icon.png" alt="Philips Tasy EMR" class="about-logo" />
                            <p class="description">Philips Tasy</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-date">2016 - 2016</div>
                <div class="timeline-content">
                    <h3>Aprendiz de Programador de Computador</h3>
                    <h4>SENAI Jaraguá do Sul</h4>
                    <p><strong>Conhecimentos adquiridos:</strong></p>
                    <p>Webdesign<br />Lógica de programação<br />Serviços de rede e internet<br />Banco de dados</p><br />
                    <p><strong>Tecnologias:</strong></p>
                    <div class="timeline-icons">
                        <div class="image-container">
                            <img src="https://img.icons8.com/color/50/html-5--v1.png" alt="HTML5" class="about-logo" />
                            <p class="description">HTML5</p>
                        </div>
                        <div class="image-container">
                            <img src="https://img.icons8.com/color/50/css3.png" alt="CSS3" class="about-logo" />
                            <p class="description">CSS3</p>
                        </div>
                        <div class="image-container">
                            <img src="https://img.icons8.com/color/50/javascript--v1.png" alt="JavaScript" class="about-logo" />
                            <p class="description">JavaScript</p>
                        </div>
                        <div class="image-container">
                            <img src="https://img.icons8.com/ios/50/php-logo.png" alt="PHP" class="about-logo"/>
                            <p class="description">PHP</p>
                        </div>
                        <div class="image-container">
                            <img src="https://img.icons8.com/color/50/mysql-logo.png" alt="MySQL" class="about-logo" />
                            <p class="description">MySQL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="education-section">
    <div class="container">
        <h2>Formação Acadêmica</h2>

        <div class="education">
            <div class="education-item">
                <div class="education-content">
                    <h3>Análise e Desenvolvimento de Sistemas</h3>
                    <div>
                        <h4>Pontifícia Universidade Católica do Paraná (PUCPR)</h4>
                        <img src="~/images/logo-pucpr.svg" class="education-logo" />
                    </div>
                    <p>Graduação em andamento</p>
                    
                </div>
            </div>
             
            <div class="education-item">
                <div class="education-content">
                    <h3>Gestão da Tencnologia da Informação</h3>
                    <div>
                        <h4>FASUL Educacional</h4>
                        <img src="~/images/logo-fasul.png" class="education-logo" ></img>
                    </div>
                    <p>Graduação em andamento</p>
                </div>
            </div>
        </div>
    </div>
</section>